/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/


.lsp
.clj-kondo
doc
.calva

CHANGELOG.md
LICENSE
logs
docs
.clj-kondo/*

# important
devops/secret*
.clj-kondo/.cache/*