{:service {:name "core-and-threads"
           :port 3020
           :repl-port 6050}
 :log-config {:dir "/home/ubuntu"
              :file-name "service-log.log"}
 :statsd {:host "localhost"
          :port 8125}}