{:service {:name "core-and-threads"
           :port 3020
           :repl-port 6050}
 :log-config {:dir "/home/ubuntu"
              :file-name "core-and-threads.log"}
 :statsd {:host "ec2.monitoring"
          :port 8125}}